---
---

<!DOCTYPE html>
<html lang="de">

  <head>
    <meta charset="utf-8">

    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.author.name }}">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/kapitel26.ico">

    <!-- Custom styles for this template -->
    <link href="{{ site.baseurl }}/assets/gitbuch-feedback.css" rel="stylesheet">

    <title>{{ page.title }}</title>
  </head>

  <body>
    {{ content }}
  </body>
</html>
